


html, body {
    
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;


}
li, a {
    text-decoration: none;
    list-style-type: none;
    font-weight: 300;
    font-size: 32px;
    color: rgb(0, 0, 0);
    font-family: 'Exo 2', sans-serif;
    
}


#p {
    padding-left: 20px;
    padding-right: 20px;
}
.link-hover {
    display:inline-block;
     margin:0;
    color: rgb(0, 0, 0);

     
}
.link-hover:after {
    display:block;
    content: '';
    border-bottom: solid 3px #000000;
    border-radius: 50px;
     
    transform: scaleX(0);
    
    
    transition: transform 250ms ease-in-out;
}
.link-hover:hover:after {
    transform: scaleX(1);
   
    
}



#text1 h1, #text2 h1, #text3 h1 {
    font-size: 80px;
    text-align: center;
    color: rgba(2, 2, 2, 0.76);
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}
#text1 p,  #text2  p, #text3 p, #quote p{
    text-align: center;
    font-size: 34px;
    color: rgba(32, 32, 32, 0.945);
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    
}



#wrapper {
    padding: 3%;
    padding-top: 47px;
    margin-top: 3px;
    padding-bottom: 47px;
    margin-bottom: 3px;
    
    
    background-image: linear-gradient(to top, #ffdd9f, #affccf);

    display: grid;
    column-gap: 50px;
    row-gap: 150px;
    grid-template-rows: 100px 1fr 1fr 100px 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
    
    grid-template-areas:   "header1 header1  header1 header1"
                            " image1 image1 text1 text1"
                            " text2 text2 image2 image2 "
                            " quote  quote quote quote "
                            " image3 image3 text3 text3 "
                            "footer footer footer footer";
    
}


#items-left-header {
  
    grid-area: header1;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 10px;
    z-index: 1;
    backdrop-filter: blur(15px);
    
    border-radius: 100px;
    border-top-width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    

}

#items-right-header{
   
    grid-area: header2;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1;
    

}

#wrapper #image1, #wrapper #image3, #wrapper #image2 {
    
    border-radius: 7px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.178)
  ;
  
  
  
}


#image1 {
    grid-area: image1;
    max-width: 600px;
    max-height: 800px;
    
    height: auto;
    display: flex;
    justify-self: center;
    filter: grayscale(10%);
    transition: ease-in-out 1s, transform 1s;

    
    
}
#text1, #text3 {
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
}

#text1 {
    
    grid-area: text1;


}




#text2 {
    grid-area: text2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}




#image2 {
    grid-area:image2; 
    filter: brightness(85%);
    
    max-width: 600px;
    max-height: 800px;
    height: auto;
    display: flex;
    justify-self: center;
    
    
    transition: ease-in-out 1s, transform 1s;

}

.buttons {
    display: flex;
    justify-content: center;

    font-size: 5px;
}
.buttons button a {
    color: rgb(255, 255, 255);
}

.live-demo{

    background: rgba(150, 150, 150, 0);
    background-image: linear-gradient(to right, #6969693f, #69696936);
    border: none;
    width: 200px;
    height: 60px;
    border-radius: 7px;
    margin-right: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.code-preview {
    background: rgba(150, 150, 150, 0);
    background-image: linear-gradient(to right, #6969693f, #69696936);
    border: none;
    width: 200px;
    height: 60px;
    border-radius: 7px;
    margin-right: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}





.live-demo:hover, .code-preview:hover{
    background: rgba(150, 150, 150, 0);
    background-image: linear-gradient(to right, #ffffff28, #ffffff6e);
    border: none;
    color: black;

}




#quote {
    
    grid-area: quote;
    font-style: italic;
    text-transform:uppercase;
    
}

#quote p {
    font-weight: 900;
}

#image3 {
    grid-area:image3;
    
    max-width: 600px;
    max-height: 800px;
    height: auto;
    transition: ease-in-out 1s, transform 1s;
    display: flex;
    justify-self: center;
    filter: grayscale(55%);
}

#text3{
    
    grid-area: text3;
}





#items-left-header ul{
    display: flex;
    justify-content: flex-start;
}
#items-right-header ul{
    display: flex;
    justify-content: flex-end;
}



#items-left-header ul li, #items-right-header ul li{
    align-self: center;
    
}



.twitter-class{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.twitter-class a{
    align-self: center;
}

#twitter, #github {
    height: 48px;
    margin-right: 20px;
    
    
}
#items-left-header .logo {
    height: 64px;
    padding-top: 7px;
}

footer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: footer;
    
    backdrop-filter: blur(5px);
    
background-image: linear-gradient(to left, #00ff8800 , #00ffff18, #00ff9d00);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-bottom: -10px;
    height: 150px;
}
#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#logo-footer {
    align-self: center; 
}
#logo-footer .logo {
    height: 64px;
}
#up-arrow .up-arrow {
    height: 40px;
}
#up-arrow{
    align-self: center;
}


#copyright {
    display: flex;
    justify-content: center;
}

small {
    align-self: center
}
.git-logo-2 {
    display: flex;
    justify-content: center;
}
.git-logo-2 img {
    height: 40px;
    align-self: center;
}


@media (max-width: 1100px) {
    
    #wrapper {
        padding-bottom: 7px;
        margin-bottom: 3px;
        column-gap: 0px;
        display: grid;
        width: auto;
        row-gap: 50px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        " header1"
        " image1"
        "text1"
        "image2"
        "text2"
        "quote"
        "image3"
        "text3"
        "footer";
   }

  
   #items-left-header {
       justify-content: center;
   }
    #items-left-header ul {
        padding-left: 0px;
    }


   #items-right-header{
       display: none;
   }

   #image1, #image2, #image3 {
        transform: scale(0.95);
        width: 100%;
        min-width: 200px;
        justify-self:  center;
    }
    
    #text1 h1, #text2 h1, #text3 h1{
    
        font-size: 55px;
        
    
    }
    

    li, a {
        font-weight: 300;
        font-size: 26px;
        transition: ease-in-out 0.5s, transform 1s;
    }
    #text1 p,  #text2  p, #text3 p, #quote p{
        
        font-size: 24px;
    }

    #items-left-header .logo {
        height: 42px;
    
    }

    .code-preview, .live-demo{
        width: 150px;
        height: 60px;
    }

    #text2 {
        display: flex;
        justify-self: center;
        flex-direction: column;
        justify-content: center;
    }
   
}   

@media (max-width:420px) {

    #wrapper {
        padding-bottom: 7px;
        margin-bottom: 3px;
    }

    li, a {
        font-weight: 400;
        font-size: 24px;
        transform: scale(0.98);
    } 

    #text1 h1, #text2 h1, #text3 h1 {
        font-size: 43px;
    }
    #projects-header {
        padding: 0px;
    }

   

    #items-left-header ul li {
        margin-left: -7px;
    }
    
   
    #p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .code-preview, .live-demo{
        width: 120px;
        height: 60px;
    }

    #logo-footer a img {
        width: 84px;
    }
    .git-logo-2{
        
        align-self: center;
    }
}
